@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&family=Lato:wght@400;700&display=swap");
/* root */
:root {
  --ff-Dmsans: "DM Sans", sans-serif;
  --fs-xsm: 10px;
  --fs-sm: 12px;
  --fs-md: 14px;
  --fs-lg: 16px;
  --fs-xl: 18px;
  --fs-xxl: 24px;
  --fs-2xl: 28px;
  --fs-3xl: 36px;
  --clr-white: #fff;
  --clr-black: black;
  --clr-gray: #6d7d93;
  --clr-gray-light: #f8f9fd;
  --clr-gray-100: rgba(109, 125, 147, 0.6);
}
/* font family */
.ff_Dm_sans {
  font-family: var(--ff-Dmsans);
}
/* fonts size */
.fs_xsm {
  font-size: var(--fs-xsm);
}
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_lg {
  font-size: var(--fs-lg);
}
.fs_xl {
  font-size: var(--fs-xl);
}
.fs_xxl {
  font-size: var(--fs-xxl);
}
.fs_2xl {
  font-size: var(--fs-2xl);
}
.fs_3xl {
  font-size: var(--fs-3xl);
}
/* font colors */
.clr_black {
  color: var(--clr-black);
}
.clr_gray {
  color: var(--clr-gray);
}
.clr_gray_100 {
  color: var(--clr-gray-100);
}
/* background colors */
.bg_white {
  background-color: var(--clr-whites);
}
.bg_gray_light {
  background: var(--clr-gray-light);
}
@media (max-width: 576px) {
  :root {
    --fs-xsm: 10px;
    --fs-sm: 12px;
    --fs-md: 14px;
    --fs-lg: 16px;
    --fs-xl: 18px;
    --fs-xxl: 22px;
    --fs-2xl: 26px;
    --fs-3xl: 32px;
  }
}
